@{
    ViewBag.Title = "Index";
}
<script type="text/x-handlebars" data-template-name="mainEntity">
    <fieldset style="float:left" id="login">
    <legend>
        <span>Login</span>
    </legend>

    <form action="" method="post" name="loginform" >
    <label for="mail">Email<span> (required)</span></label><a name="add"></a>
    {{view App.LoginEmailField name="loginEmail" id="loginEmail" valueBinding="user.email"}} 
    <label for="phone">Password<span> (required)</span></label>
    {{view App.LoginPasswordField name="loginPassword" id="loginPassword" valueBinding="user.password"}} 
    <button tabindex="5" type="submit" name="submit" id="send">Save</button>
    </form>

    </fieldset>
    <!--
    <fieldset style="float:left">
    -->
    <fieldset style="float:left">
    <legend>
        <span>AngeronaSignum</span>
    </legend>

    <form action="" method="post" name="entityform" id="entity" style="display:none">
    <label for="name">Name <span>(required)</span></label><a name="name"></a>
    {{view App.MyNameField name="Name" id="Name" valueBinding="entity.name"}} 
    <label for="mail">Email <span>(required)</span></label><a name="add"></a>
    {{view App.MyEmailField name="Email" id="Email" valueBinding="entity.email" }} 
    <label for="phone">Password</label>
    <input tabindex="1000" type="text" name="phone" id="phone" disabled="disabled" valueBinding="entity.password">
    <button tabindex="5" type="submit" name="submit" id="send">Save</button>
    </form>

    </fieldset>
    <fieldset style="float:left">
    <legend>
        <span>Entities</span>
    </legend>

    {{#each App.view.entities }}
      <li class="entity">{{name}}</li>
    {{/each}}
    </fieldset>
    
</script>
<script src="~/Scripts/entity.js"></script>
<div id="mainEntity">
</div>
 