@{
    ViewBag.Title = "Index";
}
<style>
#feedback { font-size: 1.4em; }
#selectable .ui-selecting { background: #FECA40; }
#selectable .ui-selected { background: #F39814; color: white; }
#selectable { list-style-type: none; margin: 0; padding: 0; width: 100%; }
#selectable li { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; border-radius: 5px; }
</style>
<script type="text/x-handlebars" data-template-name="mainEntity">
    <fieldset style="float:left">
    <legend>
        <span>Login</span>
    </legend>

    <form action="" method="post" name="loginform" id="login">
        <label for="mail">Email<span> (required)</span></label><a name="add"></a>
        {{view App.LoginEmailField name="loginEmail" 
                                   id="loginEmail" 
                                   valueBinding="user.email" }} 
        <label for="phone">Password<span> (required)</span></label>
        {{view App.LoginPasswordField name="loginPassword" 
                                      id="loginPassword" 
                                      valueBinding="user.password"}} 
    </form>
    <button tabindex="5" class="button" type="submit" name="submit" id="loginout" style="display:none">Logout</button>

    </fieldset>

    <fieldset style="float:left">
    <legend>
        <span>Entities</span>
    </legend>

    {{view Ember.Select contentBinding="App.view.entities"
                        optionLabelPath="content.name"
                        prompt="Pick a entity:"
                        selectionBinding="App.view.entity" }}

    @*<ol id="selectable" style="display:none">
    {{#each App.view.entities }}
      <li class="ui-widget-content">{{name}}</li>
    {{/each}}
    </ol>*@
    </fieldset>

    <!--
    <fieldset style="float:left">
    -->
    <fieldset style="float:left">
    <legend>
        <span>AngeronaSignum</span>
    </legend>

    <form action="" method="post" name="entityform" id="entity" style="display:none">
        <label for="Name">Name <span>(required)</span></label><a name="name"></a>
        {{view App.EntityNameField name="Name" 
                               id="Name" 
                               valueBinding="App.view.entity.name" }} 
        <label for="login">Login <span>(required)</span></label><a name="login"></a>
        {{view App.EntityLoginField name="Login" 
                                id="Login" 
                                valueBinding="App.view.entity.login" }} 
        <label for="phone">Password</label>
        <input tabindex="1000" type="text" name="phone" id="phone" disabled="disabled" valueBinding="entity.password">
        <button tabindex="5" class="button" type="submit" name="submit" id="send">Save</button>
    </form>

    </fieldset>
    
</script>
<script src="~/Scripts/entity.js"></script>
<div id="mainEntity">
</div>
 